.overlay {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: 1000;

	.video {
		width: 960px;
		height: 540px;
		position: relative;
		z-index: 1000;

		.close {
			color: #fff;
			font-size: 36px;
			position: absolute;
			top: -27px;
			right: -25px;
			cursor: pointer;
		}
	}
}