@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/*!
* animate.css - https://animate.style/
* Version - 4.1.1
* Licensed under the MIT license - http://opensource.org/licenses/MIT
*
* Copyright (c) 2020 Animate.css
*/
:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  animation-duration: 1s;
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.mobile {
  display: none;
}

/* .logo {
    margin-top: 50px;
    &__items {

        &-img {
            display: block;
            margin: 0 auto;
            max-width: 200px;
        }
        &-title {
            text-transform: uppercase;
            margin-top: 15px;
            text-align: center;
            font-size: 35px;
            font-weight: 700;
            letter-spacing: 3px;
            opacity: .8;
        }
        &-subtitle {
            margin-top: 20px;
            text-align: center;
            font-size: 15px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        &-text {
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }
} */
.menu {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}
.menu__link {
  font-size: 12px;
  position: relative;
  font-weight: 400;
  text-decoration: none;
  color: black;
  opacity: 0.8;
  letter-spacing: 2px;
  transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
}
.menu__link::after {
  --scale: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 1px;
  background: linear-gradient(135deg, rgb(53, 53, 53), rgb(57, 57, 57));
  transform: scaleX(var(--scale));
  transform-origin: var(--x) 50%;
  transition: transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1);
}
.menu__link:hover {
  opacity: 1;
}
.menu__link:hover::after {
  --scale: 1;
}

.active:after {
  --scale: 1;
  content: "";
  height: 1px;
  background: linear-gradient(135deg, rgb(147, 37, 37), rgb(167, 38, 38));
}

.lang {
  position: absolute;
  top: -1px;
  right: 0;
}
.lang__link {
  opacity: 0.4;
}
.lang__link:nth-last-child(1) {
  margin-left: 10px;
}
.lang__link-active {
  opacity: 1;
  padding: 0 4px;
  border-radius: 15%;
  background-color: rgba(158, 156, 156, 0.2);
}
.lang__link:hover {
  opacity: 1;
}

.videos {
  margin-top: 25px;
  padding: 25px 0 50px 0;
}
.videos #trailer {
  height: 20px;
  width: 20px;
  background-color: grey;
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  display: grid;
  place-items: center;
}
.videos:hover #trailer {
  opacity: 1;
}
.videos .interactable {
  background-size: 100%;
  transition: background-size 400ms ease, opacity 400ms ease;
}
.videos .interactable:hover {
  background-size: 105%;
  opacity: 0.9;
}
.videos__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 165px);
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.videos__wrapper-item {
  width: 165px;
  height: 277px;
  border-radius: 8px;
}
.videos__wrapper-item_1 {
  background: url("@img/1.jpg") center center no-repeat;
  background-size: cover;
}
.videos__wrapper-item_2 {
  background: url("@img/2.jpg") center center no-repeat;
  background-size: cover;
}
.videos__wrapper-item_3 {
  background: url("@img/3.jpg") center center no-repeat;
  background-size: cover;
}
.videos__wrapper-item_4 {
  background: url("@img/4.jpg") center center no-repeat;
  background-size: cover;
}
.videos__wrapper-item_5 {
  background: url("@img/5.jpg") center center no-repeat;
  background-size: cover;
}

.overlay {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.overlay .video {
  width: 960px;
  height: 540px;
  position: relative;
  z-index: 1000;
}
.overlay .video .close {
  color: #fff;
  font-size: 36px;
  position: absolute;
  top: -27px;
  right: -25px;
  cursor: pointer;
}

.promo {
  margin-top: 30px;
  min-height: 325px;
  width: 100%;
  border-left: none;
  border-right: none;
  position: relative;
}
.promo__video {
  position: absolute;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.descr {
  margin-top: 50px;
}
.descr__text {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.9;
}

.contacts {
  margin-top: 25px;
  margin-bottom: 50px;
  opacity: 0;
}
.contacts__title {
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  color: #2b2b2b;
}
.contacts__text {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.contacts__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 300px;
  height: 55px;
  background: #2b2b2b;
  border-radius: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  transition: all 0.2s;
}
.contacts__links:hover {
  background: #434141;
  cursor: pointer;
}
.contacts__links img {
  margin-right: 25px;
  width: 15px;
  height: 15px;
}
.contacts__links-call {
  margin-right: 100px;
}
.contacts__instagram {
  display: block;
  width: 30px;
  margin: 0 auto;
  margin-top: 70px;
  transition: all 0.5s;
}
.contacts__instagram img {
  width: 30px;
  height: 30px;
}
.contacts__look {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 20px;
  grid-template-rows: auto;
}
.grid__wrapper {
  transform-style: preserve-3d;
  transform: perspective(100rem);
  cursor: pointer;
}
.grid__item {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;
  width: 370px;
  height: 210px;
  border-radius: 2px;
  transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  box-shadow: 0 0 50px 8px hsla(0, 0%, 0%, 0.2);
  transition: transform 0.6s 1s;
  /*         &-6 {
      background: url("@img/wedding/1.6.jpg") var(--bX) var(--bY);
      background-size: 480px 250px;
  }
  &-7 {
      background: url("@img/wedding/1.7.jpg") var(--bX) var(--bY);
      background-size: 480px 250px;
  }
  &-8 {
      background: url("@img/wedding/1.8.jpg") var(--bX) var(--bY);
      background-size: 480px 250px;
  }
  &-9 {
      background: url("@img/wedding/1.9.jpg") var(--bX) var(--bY);
      background-size: 480px 250px;
  } */
}
.grid__item::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 80px;
  height: 80px;
  background: url("@img/icons/play.svg") center center/cover no-repeat;
}
.grid__item-1 {
  background: url("@img/wedding/wedding_1.jpg") var(--bX) var(--bY);
  background-size: 480px 250px;
}
.grid__item-1_love {
  background: url("@img/love/love_1.jpg") var(--bX) var(--bY);
}
.grid__item-1_commercial {
  background: url("@img/commercial/commercial_1.jpg") var(--bX) var(--bY);
}
.grid__item-2 {
  background: url("@img/wedding/wedding_2.jpg") var(--bX) var(--bY);
  background-size: 480px 250px;
}
.grid__item-2_love {
  background: url("@img/love/love_2.jpg") var(--bX) var(--bY);
}
.grid__item-2_commercial {
  background: url("@img/commercial/commercial_2.jpg") var(--bX) var(--bY);
}
.grid__item-3 {
  background: url("@img/wedding/wedding_3.jpg") var(--bX) var(--bY);
  background-size: 480px 250px;
}
.grid__item-3_love {
  background: url("@img/love/love_3.jpg") var(--bX) var(--bY);
}
.grid__item-3_commercial {
  background: url("@img/commercial/commercial_3.jpg") var(--bX) var(--bY);
}
.grid__item-4 {
  background: url("@img/wedding/wedding_4.jpg") var(--bX) var(--bY);
  background-size: 480px 250px;
}
.grid__item-4_love {
  background: url("@img/love/love_4.jpg") var(--bX) var(--bY);
}
.grid__item-4_commercial {
  background: url("@img/commercial/commercial_4.jpg") var(--bX) var(--bY);
}
.grid__item-5 {
  background: url("@img/wedding/wedding_5.jpg") var(--bX) var(--bY);
  background-size: 480px 250px;
}
.grid__item-5_commercial {
  background: url("@img/commercial/commercial_5.jpg") var(--bX) var(--bY);
}

.gridActive {
  transition: none;
}

:root {
  --screen-height: 560px;
  --header-bg-color: #2b2b2b;
  --splash-bg-color: #2b2b2b;
}

.nav__logo {
  padding-left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.nav__logo img {
  width: 130px;
  height: 36px;
}
.nav__title {
  margin-top: 15px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3px;
  opacity: 0.8;
  color: white;
}
.nav__title span {
  font-weight: 300;
  font-size: 12px;
}
.nav__toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s linear;
}
.nav__toggle:hover, .nav__toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--screen-height);
  position: relative;
  z-index: 5;
  visibility: hidden;
}
.nav__item {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}
.nav__item:nth-child(1) {
  transform: translateY(-40px);
}
.nav__item:nth-child(2) {
  transform: translateY(-80px);
}
.nav__item:nth-child(3) {
  transform: translateY(-120px);
}
.nav__item:nth-child(4) {
  transform: translateY(-160px);
}
.nav__item:nth-child(5) {
  transform: translateY(-200px);
}
.nav__link {
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
}
.nav__link_lang {
  padding: 0.8rem;
  font-size: 1rem;
  opacity: 0.3;
}
.nav__link_lang img {
  margin-right: 10px;
}
.nav__link_lang-active {
  opacity: 1;
}
.nav__link:hover, .nav__link:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.menuicon {
  display: block;
  cursor: pointer;
  color: #fff;
  transform: rotate(0deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}
.menuicon__bar {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out;
}
.menuicon__circle {
  transition: stroke-dashoffset 0.3s linear 0.1s;
  stroke-dashoffset: 144.513262038;
  stroke-dasharray: 144.513262038;
}

.splash {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
}
.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: var(--splash-bg-color);
  width: 284vmax;
  height: 284vmax;
  top: -142vmax;
  left: -142vmax;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}

.nav:target > .splash::after,
.nav--open > .splash::after {
  transform: scale(1);
}
.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  transform: rotate(180deg);
}
.nav:target .menuicon__circle,
.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}
.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}
.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  transform: rotate(45deg);
}
.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  transform: rotate(-45deg);
}
.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}
.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  transform: translateY(0);
}

.viewport {
  display: none;
}

.header {
  position: relative;
  height: 80px;
  background-color: var(--header-bg-color);
}

.about {
  margin-top: 40px;
}
.about__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__img {
  max-width: 300px;
  max-height: 300px;
}
.about__img img {
  width: 100%;
}
.about__title {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
}
.about__descr {
  max-width: 600px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 40px;
}
.about__btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  max-width: 350px;
  width: 350px;
  height: 50px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  border: #2b2b2b 1px solid;
}
.about__btn:hover {
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgb(255, 255, 255);
}

.pulse-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  padding: 10px;
  border: none;
  background: #000;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}

.pulse-button__icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url("@img/whatsapp-big.svg") center center/cover no-repeat;
  transition: 0.3s;
}

.pulse-button__text {
  display: block;
  width: 100%;
  height: 30px;
  font: 12px "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: 0.3s;
  margin-top: 1px;
}

.pulse-button:hover .pulse-button__icon {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: 0.3s;
}

.pulse-button:hover .pulse-button__text {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  position: relative;
}

.pulse-button__rings {
  border: 1px solid #000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: pulse_1;
  animation-iteration-count: infinite;
  z-index: -1;
}

.pulse-button__rings:nth-child(2) {
  animation-name: pulse_2;
}

.pulse-button__rings:nth-child(3) {
  animation-name: pulse_3;
}

@keyframes pulse_1 {
  from {
    opacity: 1;
    transform: scale(0.9, 0.9);
  }
  to {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}
@keyframes pulse_2 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}
@keyframes pulse_3 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
  to {
    opacity: 0;
    transform: scale(1.7, 1.7);
  }
}
.price__title {
  margin-top: 60px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.price__wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price__item {
  max-width: 280px;
}
.price__item_title {
  font-size: 25px;
  font-weight: 500;
}
.price__item_ul {
  margin-top: 30px;
}
.price__item_ul li {
  font-size: 18px;
  font-weight: 300;
}
.price__item_price {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}
.price__additionally {
  margin-top: 30px;
  padding: 30px;
  background-color: #fafafa;
}
.price__additionally_title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.price__additionally_descr {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .overlay .video {
    width: 640px;
    height: 360px;
  }
  .videos__wrapper-item {
    position: relative;
  }
  .videos__wrapper-item::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50px;
    height: 50px;
    background: url("@img/icons/play.svg") center center/cover no-repeat;
  }
  .videos:hover #trailer {
    opacity: 0;
  }
  .grid {
    grid-template-columns: repeat(2, 370px);
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .videos__wrapper {
    grid-template-columns: repeat(3, 165px);
  }
  .videos__wrapper-item {
    position: relative;
  }
  .videos__wrapper-item::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50px;
    height: 50px;
    background: url("@img/icons/play.svg") center center/cover no-repeat;
  }
  .videos__wrapper-item_4 {
    display: none;
  }
  .videos__wrapper-item_5 {
    display: none;
  }
  .contacts__links {
    width: 250px;
  }
  .grid {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .overlay .video {
    width: 80%;
    height: 240px;
  }
  .promo {
    display: none;
  }
  .menu {
    margin-top: 25px;
  }
  .menu__link {
    font-size: 15px;
  }
  .videos {
    margin-top: 0;
  }
  .videos__wrapper {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .videos__wrapper-item {
    position: relative;
  }
  .videos__wrapper-item::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50px;
    height: 50px;
    background: url("@img/icons/play.svg") center center/cover no-repeat;
  }
  .descr {
    margin-top: 25px;
  }
  .descr__text {
    font-size: 12px;
  }
  .contacts {
    margin-top: 25px;
  }
  .contacts__links {
    width: 200px;
    font-size: 12px;
  }
  .contacts__links img {
    margin-right: 15px;
  }
  .contacts__links-call {
    margin-right: 50px;
  }
  .grid {
    grid-template-columns: repeat(2, 270px);
  }
  .grid__item {
    width: 270px;
    height: 150px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .mobile {
    display: block;
  }
  .mobile .mlogo__title {
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 500;
    margin-left: 10px;
  }
  .mobile .mlogo__location {
    font-family: "Montserrat";
    margin-top: 5px;
    margin-left: 10px;
    color: #a3a3a3;
    font-weight: 100;
    font-size: 16px;
  }
  .mobile .mlogo__location svg {
    margin-right: 2px;
  }
  .mobile .mpromo {
    margin-top: 20px;
  }
  .mobile .mpromo__wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 175px);
    justify-items: center;
    justify-content: center;
    row-gap: 30px;
  }
  .mobile .mpromo__phone, .mobile .mpromo__whatsapp, .mobile .mpromo__instagram {
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    text-decoration: none;
  }
  .mobile .mpromo__phone div, .mobile .mpromo__whatsapp div, .mobile .mpromo__instagram div {
    font-family: "Montserrat";
    font-size: 16px;
  }
  .mobile .mpromo__instagram {
    grid-column: 1/3;
  }
  .mobile .mpromo__text {
    font-family: "Montserrat";
    margin-top: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }
  .mobile .gallery {
    margin-top: 50px;
  }
  .mobile .gallery__title {
    font-family: "Montserrat";
    font-size: 48px;
  }
  .mobile .gallery__subtitle {
    font-family: "Montserrat";
    margin-top: 20px;
    font-size: 22px;
  }
  .grid {
    grid-template-columns: 100%;
    margin-top: 20px;
    gap: 5px;
  }
  .grid__item {
    width: 100%;
    height: 200px;
    box-shadow: none;
  }
  .grid__item-1 {
    background: url("@img/wedding/wedding_1.jpg") center center/cover no-repeat;
  }
  .grid__item-1_love {
    background: url("@img/love/love_1.jpg") center center/cover no-repeat;
  }
  .grid__item-1_commercial {
    background: url("@img/commercial/commercial_1.jpg") center center/cover no-repeat;
  }
  .grid__item-1 {
    background: url("@img/wedding/wedding_1.jpg") center center/cover no-repeat;
  }
  .grid__item-1_love {
    background: url("@img/love/love_1.jpg") center center/cover no-repeat;
  }
  .grid__item-1_commercial {
    background: url("@img/commercial/commercial_1.jpg") center center/cover no-repeat;
  }
  .grid__item-2 {
    background: url("@img/wedding/wedding_2.jpg") center center/cover no-repeat;
  }
  .grid__item-2_love {
    background: url("@img/love/love_2.jpg") center center/cover no-repeat;
  }
  .grid__item-2_commercial {
    background: url("@img/commercial/commercial_2.jpg") center center/cover no-repeat;
  }
  .grid__item-3 {
    background: url("@img/wedding/wedding_3.jpg") center center/cover no-repeat;
  }
  .grid__item-3_love {
    background: url("@img/love/love_3.jpg") center center/cover no-repeat;
  }
  .grid__item-3_commercial {
    background: url("@img/commercial/commercial_3.jpg") center center/cover no-repeat;
  }
  .grid__item-4 {
    background: url("@img/wedding/wedding_4.jpg") center center/cover no-repeat;
  }
  .grid__item-4_love {
    background: url("@img/love/love_4.jpg") center center/cover no-repeat;
  }
  .grid__item-4_commercial {
    background: url("@img/commercial/commercial_4.jpg") center center/cover no-repeat;
  }
  .grid__item-5 {
    background: url("@img/wedding/wedding_5.jpg") center center/cover no-repeat;
  }
  .grid__item-5_commercial {
    background: url("@img/commercial/commercial_5.jpg") center center/cover no-repeat;
  }
  .pulse-button {
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
  }
  .pulse-button__text {
    font-size: 9px;
    top: 50%;
    transform: translateY(-50%);
  }
  .mfooter__divider {
    margin: 30px 0;
    display: block;
    height: 1px;
    background-color: #eaeaea;
  }
  .mfooter__wrpper {
    padding-bottom: 30px;
  }
  .mfooter__links {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .mfooter__love, .mfooter__wedding, .mfooter__commercial {
    font-family: "Montserrat";
    font-size: 18px;
    color: #767676;
    text-decoration: none;
    cursor: pointer;
  }
  .mfooter__socials {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mfooter__socials_second {
    margin-top: 10px;
    display: flex;
    gap: 30px;
  }
  .mfooter__phone, .mfooter__whatsapp, .mfooter__instagram {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    text-decoration: none;
    color: #767676;
    cursor: pointer;
  }
  .mfooter__phone div, .mfooter__whatsapp div, .mfooter__instagram div {
    font-family: "Montserrat";
  }
  .link__main {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    font-family: "Montserrat";
    color: #767676;
    font-size: 18px;
  }
  .logo {
    display: none;
  }
  .menu {
    display: none;
  }
  .lang {
    display: none;
  }
  .descr__text {
    display: none;
  }
  .videos {
    display: none;
  }
  .contacts {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */